<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
  <div class="form-group center-container">
    <h1> WELCOME TO TINY APP </h1>
  </div>

  <div class="center-container-1">
  <% if(username) {%>

    <%= username['email'] %>

  <br><br/>

    <div class="button-container">
        <form class="urlMargin" action="/logout" method="POST">
          <div><button type="submit" class="btn btn-primary">LOGOUT</button></div>
        </form>
    </div>
  </div>

  <% } else { %>

  <div class="center-container-1">
    <div class="button-container">
        <form class="urlMargin" action="/login" method="GET">
          <div><button type="submit" class="btn btn-primary">LOGIN</button></div>
        </form>
    </div>
  </div>

  <div class="center-container-1">
    <div class="button-container">
        <form class="urlMargin" action="/register" method="GET">
          <div><button type="submit" class="btn btn-primary">REGISTER</button></div>
        </form>
    </div>
  </div>

  <% } %>
