<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
  <div class="form-group center-container">
    <h1> WELCOME TO TINY APP </h1>
  </div>


<!-- <form action="/login" method="POST" style="width:420px" align="center">
  <div class="form-group">
    <label for="longURL">Enter a URL:</label>
    <input type="text" name="username" class="form-control" id="" placeholder="username">
  </div>
  <button type="submit" value="Submit" class="btn btn-primary">Login</button>
</form> -->



<!-- <p><a href="/login">LOGIN</a></p>
<p><a href="/register">REGISTER</a></p> -->
