<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
  <div class="form-group center-container">
    <h1> WELCOME TO TINY APP </h1>
  </div>

  <% if(username) {%>
    <div class="button-container">
        <%= username %>
        <form class="urlMargin" action="/logout" method="POST">
          <div><button type="submit" class="btn btn-primary">Logout</button></div>
        </form>
    </div>
  <% } else { %>
    <div class="button-container">
        <form class="urlMargin" action="/login" method="POST">
          <input style="width:420px"  type="text" name="userName" class="form-control updateUrlInputMargin" id="" placeholder="username">
          <div><button type="submit" class="btn btn-primary">Login</button></div>
        </form>
    </div>
  <% } %>
