<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
    <body>
      <div class="center-container">
        <form action="/urls" method="POST" style="width:420px" align="center">
          <div class="form-group">
            <label for="longURL">Enter a URL:</label>
            <input type="text" name="longURL" class="form-control" id="longURL" aria-describedby="emailHelp" placeholder="http://">
          </div>
          <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </body>
</html>
