.center-container {
  display: flex;
  justify-content: center;
}

.center-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.center-container-3 {
  display: flex;
  margin-left: 633px;
}

.center-container-4 {
  display: flex;
}


.form-check {
  padding-left: 0px;
}

.urlMargin {
  margin-left: 5px;
}

.updateUrlMargin {
  margin: 20px;
}

.updateUrlInputMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.urlsButtonMargin {
  display: flex;
  direction: : right;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    margin-bottom: 10px
}

.right-space {
  margin-left: 20px;
}
